mixin head(array)
	meta(charset='UTF-8')
	title!=array.title_inner
	meta(name="viewport", content="width=device-width")
	meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="format-detection", content="telephone=no")

	if production_status === 'production'
		link(rel='shortcut icon' href='/favicon.ico')
		link(rel='icon' sizes='16x16 32x32 64x64' href='/favicon.ico')
		link(rel='icon' type='image/png' sizes='196x196' href='/favicon-192.png')
		link(rel='icon' type='image/png' sizes='160x160' href='/favicon-160.png')
		link(rel='icon' type='image/png' sizes='96x96' href='/favicon-96.png')
		link(rel='icon' type='image/png' sizes='64x64' href='/favicon-64.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16.png')
		link(rel='apple-touch-icon' href='/favicon-57.png')
		link(rel='apple-touch-icon' sizes='114x114' href='/favicon-114.png')
		link(rel='apple-touch-icon' sizes='72x72' href='/favicon-72.png')
		link(rel='apple-touch-icon' sizes='144x144' href='/favicon-144.png')
		link(rel='apple-touch-icon' sizes='60x60' href='/favicon-60.png')
		link(rel='apple-touch-icon' sizes='120x120' href='/favicon-120.png')
		link(rel='apple-touch-icon' sizes='76x76' href='/favicon-76.png')
		link(rel='apple-touch-icon' sizes='152x152' href='/favicon-152.png')
		link(rel='apple-touch-icon' sizes='180x180' href='/favicon-180.png')
		meta(name='msapplication-TileColor' content='#FFFFFF')
		meta(name='msapplication-TileImage' content='/favicon-144.png')
		meta(name='msapplication-config' content='/browserconfig.xml')

	link(rel="stylesheet" media="all" href="styles/main_global.css")

mixin scripts
	if jQuery
		|<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		|<script>window.jQuery || document.write('<script src="js/jquery-2.2.4.min.js"><\/script>')</script>

	if TweenMax
		|<script src="//cdn.glivera-team.com/gsap/gsap.min.js"></script>
		|<script>window.TweenMax || document.write('<script src="js/gsap.min.js"><\/script>')</script>

	if production_status === 'development'
		script(type='text/javascript')
			|window.productionStatus = 'development';
		+script_cdn([
			{link:'//cdn.glivera-team.com/dev_functions.js'}
		])

	script(src="js/libs.js")
	//- script(src="js/components.js")
	script(src='js/main.js')

//- scripts from cdn
mixin script_cdn(array)
	each item in array
		script(src=item.link)

//- //- form element v2
//- mixin mtdInputWrapper(config)
//- 	- mods = config.mods || ''
//- 	- wrapperClass = config.wrapper || mtdFieldsWrapper.default
//- 	- inputClass = config.class || mtdFields.types.default
//- 	div(class= `${wrapperClass} ${mods}`)
//- 		block

//- mixin mtdInput(config)
//- 	case config.attrs.type
//- 		when 'checkbox'
//- 			input(class= `${inputClass[1]}`)&attributes(config.attrs)
//- 			span(class= `${wrapperClass}__text ${mtdFields.mods.checkboxTextSpan}`)= config.label
//- 		when 'radio'
//- 			input(class= `${inputClass[1]}`)&attributes(config.attrs)
//- 			span(class= `${wrapperClass}__text ${mtdFields.mods.radioTextSpan}`)= config.label
//- 		when 'file'
//- 			input(class= `${inputClass[1]}`)&attributes(config.attrs)
//- 			span(class= `${inputClass[1]}_cta`)= config.label
//- 		default
//- 			input(class= `${inputClass[1]}`)&attributes(config.attrs)

//- mixin mtdLabel(config, showLabelText)
//- 	case showLabelText
//- 		when false
//- 			label(class= `${inputClass[0]}` for= config.attrs.id)
//- 				block
//- 		default
//- 			label(class= `${inputClass[0]}` for= config.attrs.id)= config.label
//- 				block

//- mixin mtdTextarea(config)
//- 	textarea(class= `${inputClass[1]}`)&attributes(config.attrs)

//- mixin select(config)
//- 	+mtdInputWrapper(config)
//- 		+mtdLabel(config)
//- 		select(data-placeholder=config.placeholder class= `${inputClass[1]}`)&attributes(config.attrs)
//- 			each option in config.options
//- 				option(value= option)= option

//- mixin input(config)
//- 	+mtdInputWrapper(config)
//- 		+mtdLabel(config)
//- 		+mtdInput(config)

//- mixin textarea(config)
//- 	+mtdInputWrapper(config)
//- 		+mtdLabel(config)
//- 		+mtdTextarea(config)

//- mixin checkbox(config)
//- 	+mtdInputWrapper(config)
//- 		+mtdLabel(config, false)
//- 			+mtdInput(config)

//- mixin radiobutton(config)
//- 	+mtdInputWrapper(config)
//- 		+mtdLabel(config, false)
//- 			+mtdInput(config)

//- mixin file(config)
//- 	+mtdInputWrapper(config)
//- 		+mtdLabel(config, false)
//- 			+mtdInput(config)
//- //- form element v2###

//- form element v3

mixin form_input(data)
	- labelClass = data.label_class || 'form_input__label'
	- elClass = data.class || 'form_input__element'
	.form_input(class = data.mod)
		if data.label
			label(for=data.id class= labelClass)= data.label
		.form_input__field
			input(type=data.type class = elClass placeholder=data.placeholder value=data.value name=data.name required=data.required)

mixin form_textarea(data)
	- labelClass = data.label_class || 'form_textarea__label'
	- elClass = data.class || 'form_textarea__element'
	.form_textarea(class = data.mod)
		if data.label
			label(for=data.id class= labelClass)= data.label
		.form_textarea__field
			textarea(class = elClass placeholder=data.placeholder value=data.value name=data.name required=data.required)

mixin form_select(data)
	- labelClass = data.label_class || 'form_select__label'
	- elClass = data.class || 'form_select__element'
	.form_select(class = data.mod)
		if data.label
			label(for=data.id class= labelClass)= data.label
		.form_select__field
			select(class = elClass placeholder=data.placeholder name=data.name required=data.required)
				each item in data.options
					option(value=item)= item

mixin form_checkbox(data)
	- labelClass = data.label_class || 'form_checkbox__label'
	- elClass = data.class || 'form_checkbox__element'
	.form_checkbox(class = data.mod)
		label.form_checkbox__block
			input(class=elClass type="checkbox" name=data.name checked=data.checked || false)
			span(class = labelClass)!= data.label

mixin form_radio(data)
	- labelClass = data.label_class || 'form_radio__label'
	- elClass = data.class || 'form_radio__element'
	.form_radio(class = data.mod)
		label.form_radio__block
			input(class=elClass type="radio" name=data.name checked=data.checked || false)
			span(class = labelClass)!= data.label
//- form element v3###


//- works
mixin loop_while(counter)
	- i=0;
	while i < counter
		-i++;
		block

//- works
mixin loop_while_sub(counter)
	- j = 0;
		while j < counter
			-j++;
			block

//- works
mixin breadcrumbs(array,add_class)
	- add_class = add_class || ''
	ul.breadcrumbs_list(class=add_class)
		each crumb, index in array
			li.breadcrumbs_item
				if (index == array.length - 1)
					a.breadcrumbs_link.current_mod=crumb.text
				else
					a.breadcrumbs_link(href= crumb.url)= crumb.text

//- works
mixin menu(menuArray)
	- gl_mod = menuArray.gl_mod || ''
	ul(class=`${menuArray.gl_class}_list ${gl_mod}`)
		each item in menuArray.items
			- url = item.url || '#'
			if item.active
				li(class= `${menuArray.gl_class}_item active_mod`)
					a(href= url class= `${menuArray.gl_class}_link`)= item.title
			else
				li(class= `${menuArray.gl_class}_item`)
					a(href= url class= `${menuArray.gl_class}_link`)= item.title

//- works
mixin social(socialArray)
	- mod_block = socialArray.mod_block || ''
	ul.social_list(class= `${mod_block}`)
		each item in socialArray.items
			- mod_link = item.mod_link || ''
			li.social_item
				a.social_link(href="#" class= `${mod_link}`)
					+icon(item.name_icon, item.mod_icon)

//- works
mixin icon(name, mod)
	- mod = mod || ''
	svg(class=`icon icon-${name} ${mod}`)
		use(xlink:href=`i/sprite/sprite.svg#${name}`)

mixin pagination(config)
	- config.mod = config.mod || ''
	- config.active = config.active || 1
	.pag_block(class= config.mod)
		ul.pag_list(class= config.mod)
			if config.arrows
				li.pag_item.prev_mod(class= config.mod)
					a.pag_link.prev_mod(href='#' class= config.mod)
			- i = 1;
			while i <= config.pages
				if i == config.pages - 1
					li.pag_item(class= config.mod)
						a.pag_link.dots_mod(class= config.mod) &hellip;
					li.pag_item(class= config.mod)
						a.pag_link(href='#' title= i class= config.mod)= i
				else if i == config.active
					li.pag_item(class= config.mod)
						a.pag_link.active_mod(title= i class= config.mod)= i
				else
					li.pag_item(class= config.mod)
						a.pag_link(href='#' title= i class= config.mod)= i
				-i++
			if config.arrows
				li.pag_item.next_mod
					a.pag_link.next_mod(href='#' class= config.mod)

//- picture
mixin picture(data)
	- type = data.png ? 'png' : 'jpg'
	- is2x = data.is2x ? true : false
	- media = data.media
	- imgFit = data.contain ? 'contain_img' : 'cover_img'
	- customClass = data.customClass || imgFit
	picture(class = data.mod , data-tab= data.tab)
		each imgType in ['webp', type]
			if media
				source(media=`(min-width: ${media}px)` srcset=`${data.img}.${imgType}${is2x ? `, ${data.img}@2x.${imgType} 2x` : ''}` type=`image/${imgType}`)
				source(media=`(max-width: ${media - 1}px)` srcset=`${data.img_mob}.${imgType}${is2x ? `, ${data.img_mob}@2x.${imgType} 2x` : ''}` type=`image/${imgType}`)
			else
				source(srcset=`${data.img}.${imgType}${is2x ? `, ${data.img}@2x.${imgType} 2x` : ''}` type=`image/${imgType}`)
		img(class= customClass src=`${data.img}.${type}` alt="")

